[Unit]
Description=Panel update

[Timer]
OnCalendar={{ ((apnscp_nightly_update | type_debug) != "bool") | ternary(apnscp_nightly_update, 'daily')}}
RandomizedDelaySec=90
Persistent=true

[Install]
WantedBy=timers.target
