tr.entry td.clipboard-item {
	cursor: default;
}

#fm_table td, #fm_table td input[type=checkbox] {
	vertical-align: middle;
}

span#folder-selected {
	display: none;
}

.tbl-filemanager .help-section a {
	text-decoration: underline;
}

.tbl-filemanager .entry:hover {
	background-color: #efefef;
}

span.filename_truncated {
	display: inline;
	overflow: hidden;
}

td.name {
	overflow: hidden;
}

td.attr, td.actions {
	width: 110px;
	text-align: center;
}

td.actions {
	max-width: 110px;
}

td.name a.node {
	text-indent: 0;
	padding-left: 22px;
	background-position: left center;
	display: block;
	float: left;
	border: 0 none;
	background-repeat: no-repeat;
}

.node-parent-dir {
	background-image: url(/images/apps/filemanager/parent-dir.gif);
}

#fm_table td.name img {
	display: inline-block;
}

td.disk-total, td.disk-folder {
	color: #666;
}

td.disk-total span, td.disk-folder span {
	font-style: italic;
}

#fm_table td.name span.name a {
	text-decoration: none;
	display: inline;
	padding: 0 5px;
	overflow: visible;
	vertical-align: middle;
}

td.name {
	width: 500px;
	line-height: 18px;
	overflow: hidden;
}

td.name span {
	overflow: hidden;
}

td.size {
	width: 90px;
}

td.date {
	min-width: 150px;
}

td.owner {
	width: 120px;
}

#fm_table img {
	vertical-align: middle;
}

span.expanded {
	display: none;
	position: absolute;
	max-width: 550px;
	overflow: visible;
	background: #fffbce;
	border: 1px solid #999;

}

/** file edit area in View File */
#code {
	width: 100%;
}

div.clear {
	height: 0;
}

input.multiupload {
	height: 0;
	width: 0;
	position: relative;
	left: -999em;
}

.js input#upload {
	display: none;
	float: right;
}

input#upload {
	position: relative;
	display: inline-block;
}

.note {
	font-style: italic;
	color: #999;
}

.js span#upload-saveas-slice {
	display: none;
}

div#container-upload-options {
	position: absolute;
	left: 350px;
	top: 0;
	float: left;
}

td.odd, td.even {
	vertical-align: top;
}

.octal-summary {
	border-top: 3px solid #ccc;
}

input.rename {
	width: 385px;
}

#uploadContainer > div {
	background: #fafafa;
	padding: 1em;
	outline: 2px dashed #ccc;
	outline-offset: 0;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

#uploadContainer.dragover > div {
	outline-offset: -10px;
}

.eol-container .marker:before {
	content: '⏎';
	display: inline-block;
	margin-right: 0.25em;
}

#modal-wait {
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	background: rgba(255, 255, 255, 0.85);
	text-align: center;
	z-index: 1000;
}

#modal-wait i {
	top: 50%;
	position: fixed;
	left: 50%;
	display: block;
	z-index: 1000;
}

#dragdrop {
	font-size: 1.5em;
	position: relative;
}