/** via flot.js */
.pieLabelBackground {
	border-radius: 5px;
}

.graph-label {
	color: #fff;
	padding: 3px;

}

.no-data {
	padding: 2em 0;
	margin: 0 auto;
}

.legend {
	top: 0;
	left: 0;
	display: block;
}

.percentage {
	text-align: right;
}

.key {
	border: 3px solid gray;
	border-radius: 100%;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
}

#bandwidth-data td {
	vertical-align: middle;
}

#bandwidth-data h4 {
	margin: 0;
}

.bandwidth span:after {
	content: 'MB';
}

.bandwidth-major td {
	background: #fafafa;
	color: #4c4c4c;
}