<div class="ui-infobox-info ui-infobox"><span class="ui-infobox-info">You are now leaving the control panel.

<a href="<?php print $Page->getOffsite(); ?>" class="ui-action ui-action-visit-site ui-action-label"><?php print $Page->
	getOffsite(); ?></a></span>
</div>