[{{ fpm_service_name }}]
listen = /run/php-fpm/{{ fpm_service_name }}.socket
pm = ondemand
pm.max_children = 20
pm.start_servers = 2
pm.min_spare_servers = 0
pm.max_spare_servers = 3
pm.process_idle_timeout = 60s
; PrivateTmp=true in FPM service
php_value[session.save_path] = /tmp
