#!/bin/sh
export RBENV_ROOT="{{ git_target }}"
LAZY_LOAD_RUBY=${LAZY_LOAD_RUBY:-{{ rbenv_lazy_load | ternary("1", "0") }}}

{{ code | regex_findall('^\s*(?:export|source)\s+.*$[\r\n]+', multiline=True) | join("") }}

load_rbenv() {
  unset -f rbenv ruby load_rbenv gem
  {{ code | regex_findall('^(?!\s*(?:export|source)\s+).*$[\r\n]*', multiline=True) | join("") }}
}

if [[ $LAZY_LOAD_RUBY -eq 0 ]]; then
  load_rbenv
  return
fi

rbenv() {
  load_rbenv
  rbenv "$@"
}

ruby() {
  load_rbenv
  ruby "$@"
}

gem() {
  load_rbenv
  gem "$@"
}
