<?php
$storage = $Page->getData();
$quota = $Page->getAccountQuota();
$fileTotal = 0;
usort($storage['users'], function ($a, $b) {
return $a['used'] > $b['used'] ? -1 : $a['used'] < $b['used'];
});
?>

<h3>File Listing</h3>
<div class="row mb-1">
	<div class="col-12">
		<p class="file-listing">
			Download a comprehensive file listing of all files that count towards your storage
			quota. This can be used to quickly identify large files.

		</p>

		<a href="<?php print \HTML_Kit::page_url_params(array('get_list' => true)); ?>">
			<button class="secondary ui-action ui-action-download ui-action-label btn btn-secondary">Download File
				Listing
			</button>
		</a>
	</div>

</div>

<?php if(is_debug()): ?>
<h3>Usage Map</h3>
<div class="row mb-1">
	<div class="alert alert-info col-12">DEBUG FEATURE</div>
	<div id="usage-map" class="col-12">
		<p class="map-info">
			A storage map provides a birdseye view of storage per-directory. Depending upon account size, it
			may take some time to initialize.
		</p>

		<button class="btn btn-secondary ui-action ui-action-label ui-action-load" id="load-map">
			Load Map
		</button>
	</div>
</div>
<?php endif; ?>

<h3>Usage Overview</h3>
<div class="row mt-1">
	<div class="hidden-sm-down col-md-4 col-xs-6">
		<span class="" id="storagegraph"></span>
	</div>
	<div class="storage-categories col-md-4 col-xs-6 overflow-scroll">

	</div>
	<div class="storage-info col-md-4 hidden-md-down overflow-scroll">
	</div>
</div>
<div class="row mt-3">
	<div class="col-12">
		<table id="storage-data" class="table table-sm">
			<thead>
			<tr>
				<th class="head1 field left">Item</th>
				<th class="storage-used">Storage Used</th>
				<th class="files-used bandwidth"># Files</th>
				<th class="percentage right">% Total</th>
			</tr>
			</thead>
			<tbody>
			<?php
                foreach (array("users" => "Users", "services" => "Services") as $key => $majlabel):
			if ($key == "*") continue;
			?>
			<tr>
				<td colspan="4">
					<h4 class="storage-major">
						<?php print $majlabel; ?>
					</h4>
				</td>
			</tr>
			<?php
                    foreach ($storage[$key] as $field => $data):
			if ($data['label'] == \Web_Module::WEB_USERNAME) {
			$data['label'] = '<span class="apache">' . $data['label'] . '</span>';
			$data['files'] = max(0, $data['files']);
			$data['used'] = max(0, $data['used']);
			}
			$fileTotal += $data['files'];
			?>
			<tr class="storage-item">
				<td class="field">
					<span class="key" style="border-color:<?php print $data['color']; ?>;"></span>
					<?php print $data['label']; ?>
				</td>
				<td class="storage-used"><?php printf ("%0.2f", $data['used']/1024); ?></td>
				<td class="files-used"><?php print \Formatter::commafy((int)$data['files']); ?></td>
				<td class="percentage right"><?php printf ("%.2f%%", ($data['used']/$quota['used']*100)); ?></td>
			</tr>
			<?php
                        /** bw items */
                    endforeach;
                    /** bw categories */
                endforeach;
            ?>
			</tbody>
			<tfoot>
			<?php
                // aggregate
                $tquota = $Page->getTotalUsage();
			?>
			<tr>
				<td class="field total">Total</td>
				<td class="storage-used"><?php printf("%d MB/%d MB",$tquota['qused']/1024, $tquota['qhard']/1024); ?></td>
				<td class="files-used"><?php print \Formatter::commafy($tquota['fused']); ?></td>
				<td class="percentage">
					<?php
                        if ($tquota['qhard'] > 0):
					printf("%0.2f%%", $tquota['qused']/$tquota['qhard']*100);
					else:
					/** @TODO check against total server storage capacity?? */
					print '0.00';
					endif;
					?>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
	<div class="col-12">
		<p class="text-muted note">
			<?php echo \Web_Module::WEB_USERNAME; ?> are files generated by the web server and represent
			a approximation of how many and how much contribute towards your storage
			usage. Actual determination is computationally-expensive.
		</p>
	</div>

</div>